/*Flex para el about*/

.containerabout {
	.foto1, .foto2 {
		width: 800px;
		max-width: 100%;
		padding: 40px;
	}
	.texto1, .texto2, .greendaybio {
        max-width: 100%;
		color: aliceblue;
	    line-height: 1.5;
		padding: 20px 180px 20px 180px;
		
	}
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

@media (max-width: 1280px) {
	.containerabout {
		.foto1, .foto2 {
			width: 800px;
			max-width: 100%;
			padding: 10px;
		}
		.texto1, .texto2 {
			max-width: 100%;
			color: aliceblue;
			line-height: 1.5;
			padding: 20px 30px 20px 30px;
			
		}
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		align-content: center;
	}
}