
.newstitle {
    padding: 20px;
    max-width: 100%;
}

.formsize {
    max-width: 550px;
    margin: 10px auto;
    border: 2px solid white;
    padding: 20px;
}

.grenadepin {
    width: 320px;
    padding: 50px;
    max-width: 100%;
}

@media (max-width: 425px) {
    .newstitle{
        font-size: 1.9rem;
    }
    .formsize{
        max-width: 390px;
        padding: 35px;
    }
}

@media (max-width: 375px) {
    .newstitle{
        font-size: 1.7rem;
    }
    .formsize{
        max-width: 300px;
        padding: 25px;
    }
}