/*Flexbox para fechas en vivo*/

$bordes: 2px solid greenyellow;
$color-negro: rgb(0, 0, 0);
$sombras: 6px 6px 12px rgb(78, 78, 78);

.dateflex {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	gap: 70px;
	padding: 60px;
}

.datebox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	background-image: url(../imagenes/wallpaperflare.com_wallpaper.jpg);
	background-position: center;
	background-color: $color-negro;
	color: white;
	width: 500px;
	height: 300px;
	max-width: 100%;
	box-shadow: $sombras;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.9rem;
}

.datebox:hover{
	transform: scale(98%);
	transition: all 0.4s;
	border: $bordes;
}

li{
	a{
		color: rgb(68, 0, 255);
	}
}

.shop:hover{
	color: white;
	background-color: rgb(0, 0, 255);
}

@media (max-width:1280px) {
	.dateflex {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		gap: 40px;
	}
	
	.datebox {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		background-color: $color-negro;
		width: 400px;
		height: 200px;
		max-width: 100%;
		box-shadow: $sombras ;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1.5rem;
	}
}

@media (max-width: 425px) {
	.dateflex {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		gap: 30px;
	}
	
	.datebox {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		background-color: $color-negro;
		width: 350px;
		height: 150px;
		max-width: 100%;
		box-shadow: $sombras;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1.3rem;
	}
}

@media (max-width: 375px) {
	.dateflex {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		gap: 25px;
		padding: 20px;
	}
	
	.datebox {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		background-color: $color-negro;
		width: 250px;
		height: 100px;
		max-width: 100%;
		box-shadow: $sombras;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1rem;
	}
}

@media (max-width: 320px){
    .dateflex {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		gap: 20px;
		padding: 10px;
	}
	
	.datebox {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		background-color: $color-negro;
		width: 210px;
		height: 90px;
		max-width: 100%;
		box-shadow: $sombras;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.9rem;
	}
}