/*Botonera de navegacion*/

.flexnav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 50px;
}
nav {
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: black;
	margin: 25px;
}
header {
	nav {
		a {
			color: rgb(173, 255, 47);
			text-decoration: none;
			margin: 4px;
			font-weight: bold;
			&:hover {
				background-color: greenyellow;
				color: black;
				padding-left: 1.8px; 
				padding-right: 1.8px;
			}
			&:active {
				background-color: aliceblue;
				color: black;
			}
		}
	}
}

@media (max-width:768px) {
	.flexnav{
		gap: 30px;
	}
	a{font-size: 0.9rem;}
}
@media (max-width:425px) {
	.flexnav{
        gap: 20px;
	}
	a{font-size: 0.8rem;}
}
@media (max-width:375px) {
	.flexnav{
        gap: 15px;
	}
	a{font-size: 0.7rem;}
}
@media (max-width:320px) {
	a{font-size: 0.6rem;}
}