/*Flex para fotos.html*/

.containerflex {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
.photo {
	width: 500px;
	transition: all 0.7s;
}

.photo:hover {
    width: 520px;
	transform: rotate(10deg);
}

@media (max-width: 768px) {
	.photo{
		max-width: 100%;
	}
}