/*Para compilar SASS a CSS usar el comando en consola: sass --watch scss:css*/

@import "navbar";
@import "fechas";
@import "photo";
@import "vid";
@import "about";
@import "contact";
@import "foot";

* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
}
@font-face {
	font-family: "punk-rock";
	src: url(../fonts/PunkRocker_S_Demo.otf);
}
body {
	background-color: rgb(0, 0, 0);
	font-family: sans-serif;
	text-align: center;
	background-image: url(../imagenes/wallpaperflare.com_wallpaper\ \(1\).jpg);
}

h1 {
	margin-top: 30px;
	text-align: center;
	font-family: "punk-rock" !important;
	font-size: 9rem;
	color: aliceblue;
	letter-spacing: 4px;
	
}

.heading{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;

	.mainlogo{
	width: 120px;
    }
}



.mainimg {
	max-width: 100%;
}
h2 {
	font-family: "punk-rock";
	font-size: 3rem;
	color: aliceblue;
	letter-spacing: 1.5px;
}

label {
	font-family: "punk-rock";
	font-size: 2rem;
	color: aliceblue;
}

.parrafomain {
	max-width: 100%;
	color: aliceblue;
	line-height: 1.5;
	margin: 0 auto;
	padding: 50px;
	width: 1000px;
}
